@-webkit-keyframes bounce {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: 20px; }
  100% {
    margin-top: 0px; } }
@-moz-keyframes bounce {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: 20px; }
  100% {
    margin-top: 0px; } }
@keyframes bounce {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: 20px; }
  100% {
    margin-top: 0px; } }
body {
  background-color: #073661; }
  body .error {
    border-left: 3px red solid; }
  body input {
    background-image: none !important;
    background-color: #f1ddb8;
    padding: 5px;
    box-sizing: border-box;
    border: 1px #edd3a3 solid;
    width: 221px;
    height: 32px; }
  body #container {
    position: relative;
    padding-top: 50px;
    background-image: url("../img/loginBackground.png");
    width: 945px;
    height: 656px;
    margin: 0 auto; }
    body #container .return {
      position: absolute;
      top: 70px;
      right: 25px;
      cursor: pointer;
      vertical-align: top; }
    body #container #returnButton {
      background-image: url("../img/close.png");
      width: 20px;
      height: 20px;
      display: inline-block;
      transition: transform 0.5s, margin-right 0.5s; }
    body #container .return:hover #returnButton {
      transform: rotate(-90deg);
      margin-right: 7.5px; }
    body #container .characterAni {
      -webkit-animation: bounce 3s infinite;
      -webkit-animation-timing-function: ease;
      /* Chrome, Safari, Opera */
      -moz-animation: bounce 3s infinite;
      -moz-animation-timing-function: ease;
      /* Chrome, Safari, Opera */ }
    body #container #containerChar1 {
      float: left; }
      body #container #containerChar1 #char1 {
        background-image: url("../img/characterLeft.png");
        width: 336px;
        height: 579px; }
    body #container .containerChar2UN {
      position: absolute;
      right: 0;
      margin-top: 0px !important; }
    body #container #containerChar2 {
      margin-top: 120px;
      float: right;
      margin-right: -14px; }
      body #container #containerChar2 #char2 {
        background-image: url("../img/characterRight.png");
        width: 370px;
        height: 358px; }
    body #container #registerForm {
      background-image: url("../img/registerBackground.png");
      width: 600px;
      height: 394px;
      position: relative;
      float: left;
      margin-left: -185px;
      z-index: 2; }
      body #container #registerForm table {
        width: 410px;
        margin: 88px auto; }
      body #container #registerForm span {
        font-size: 10px; }
      body #container #registerForm .return {
        top: 30px;
        right: 85px; }
      body #container #registerForm td span {
        color: #832a2a;
        padding-left: 10px;
        border: 0;
        display: block; }
    body #container #loginScreen {
      position: relative;
      background-image: url("../img/containerBackground.png");
      width: 252px;
      height: 336px;
      float: left;
      padding-top: 80px; }
      body #container #loginScreen #logo {
        background-image: url("../img/logo.png");
        width: 110px;
        height: 63px;
        margin: 0 auto; }
      body #container #loginScreen #propContainer {
        margin-left: 10px;
        overflow: hidden;
        width: 232px;
        height: 100%;
        position: relative; }
        body #container #loginScreen #propContainer .inactive {
          visibility: hidden;
          left: -230px !important; }
        body #container #loginScreen #propContainer .ani {
          transition: left .5s; }
        body #container #loginScreen #propContainer .containerProperties {
          position: absolute;
          width: 232px;
          left: 0px; }
        body #container #loginScreen #propContainer #loadContainer div {
          background-image: url("../img/load.gif");
          width: 48px;
          height: 48px;
          margin: 40px auto; }
        body #container #loginScreen #propContainer #loginContainer form {
          display: block;
          width: 187px;
          margin: 10px auto; }
          body #container #loginScreen #propContainer #loginContainer form input {
            width: 187px;
            height: 35px;
            margin-top: 8px; }
          body #container #loginScreen #propContainer #loginContainer form ::-webkit-input-placeholder {
            color: #786e5c; }
          body #container #loginScreen #propContainer #loginContainer form :-moz-placeholder {
            color: #786e5c; }
          body #container #loginScreen #propContainer #loginContainer form ::-moz-placeholder {
            color: #786e5c; }
          body #container #loginScreen #propContainer #loginContainer form :-ms-input-placeholder {
            color: #786e5c; }
          body #container #loginScreen #propContainer #loginContainer form #submit {
            width: 70px; }
        body #container #loginScreen #propContainer #startContainer div {
          width: 200px;
          margin: 12px auto; }
        body #container #loginScreen #propContainer #guestContainer div, body #container #loginScreen #propContainer #noscriptContainer div {
          width: 200px;
          margin: 0 auto; }
          body #container #loginScreen #propContainer #guestContainer div .button, body #container #loginScreen #propContainer #noscriptContainer div .button {
            width: 48%;
            display: inline-block; }
          body #container #loginScreen #propContainer #guestContainer div .smallerText, body #container #loginScreen #propContainer #noscriptContainer div .smallerText {
            font-size: 16px; }
          body #container #loginScreen #propContainer #guestContainer div p, body #container #loginScreen #propContainer #noscriptContainer div p {
            padding: 8px;
            border: 1px red solid; }
            body #container #loginScreen #propContainer #guestContainer div p span, body #container #loginScreen #propContainer #noscriptContainer div p span {
              color: red;
              display: block;
              font-size: 30px;
              padding-left: 10px; }
        body #container #loginScreen #propContainer .button {
          position: relative;
          cursor: pointer;
          background-image: url("../img/buttonBgRepeatX.png");
          height: 39px;
          margin-top: 9px;
          text-align: center;
          padding-top: 10px;
          font-size: 21px;
          -webkit-transition: -webkit-box-shadow .6s;
          /* For Safari 3.1 to 6.0 */
          -moz-transition: -moz-box-shadow .6s;
          /* For Safari 3.1 to 6.0 */
          transition: box-shadow .6s;
          overflow: hidden; }
        body #container #loginScreen #propContainer .button:hover {
          -moz-box-shadow: 0px 0px 10px white;
          -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 20px white; }
  body #infoBox {
    position: absolute;
    width: 230px;
    top: 140px;
    border: 2px green solid;
    background-color: #ffe99c;
    padding: 10px;
    left: 50%;
    margin-left: -140px; }
    body #infoBox .return {
      display: block !important;
      top: 2px;
      right: 5px; }
    body #infoBox span {
      font-size: 30px; }

.nojs #loginContainer, .nojs #startContainer, .nojs #startContainer, .nojs #returnButton, .js #noscriptContainer div {
  display: none !important; }

.outlinkRight {
  display: inline-block;
  background-image: url("../img/outLinkIcon.png");
  height: 10px;
  width: 10px;
  margin: 5px 0px; }

img {
  display: none; }

/*# sourceMappingURL=index.css.map */
